.button {
  border-radius: 5px;
  background-color: var(--color-secondary);
  padding: 15px 25px;
  color: #fff;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 0.85rem;
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}

.button span {
  font-weight: 400;
  font-size: 18px;
}
